body {
  padding: 5%;
}

.index {
  display: inline;
}

.thumbnail {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px; 
  border: 0px;
}

.slideNameInLessonSlideListEntry {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}