body {
  padding: 5%;
}

.lessonCreator, .slideCreator{
  float: none;
  margin: 0 auto;
  text-align: center;
  font-size: 250%;
}

.index {
  display: inline;
}

.thumbnail {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px;
  border: 0px;
}

.slideNameInLessonSlideListEntry {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}

.chatHide {
  background-color: lightgrey;
  height: 30px;
  width: 250px;
  position: absolute;
  right: 50px;
  bottom: 0;
  text-align: center;
}

.chatHide:hover {
  text-decoration: underline;
}

.chat {
  background-color: grey;
  height: 330px;
  width: 250px;
  position: absolute;
  right: 50px;
  bottom: 0;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  opacity: 0;
  visibility: hidden; 
}

.chat.show {
  opacity: 1;
  visibility: visible; 
}

.chatHead {
  text-align: center;
}

.chatHead:hover {
  text-decoration: underline;
}

.displayChat {
  height: 260px;
  margin-top: 20px;
  margin: 6px;
  background-color: white;
  overflow: auto;
}

.chatLine {
  line-height: .9;
  margin-left: 12px;

}

.chatLine h5 {
  margin-bottom: .1em;
}

.chatLine p {
  margin-top: .1em;
}

.chatInput {
  margin-left: 6px;
  margin-right: 8px;
  height: auto;
  width: 180px;
}

.lessonRead {
  float: right;
}
