body {
  padding: 5%;
}

.lessonCreator, .slideCreator{
  float: none;
  margin: 0 auto;
  text-align: center;
  font-size: 250%;
}

.index {
  display: inline;
}

.thumbnail {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px; 
  border: 0px;
}

.slideNameInLessonSlideListEntry {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}