body {
  padding: 5%;
}

.lessonCreator, .slideCreator{
  float: none;
  margin: 0 auto;
  text-align: center;
  font-size: 250%;
}

.index {
  display: inline;
}

.thumbnail {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px;
  border: 0px;
}

.slideNameInLessonSlideListEntry {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}

.chatHide {
  background-color: lightgrey;
  height: 30px;
  width: 250px;
  position: absolute;
  right: 50px;
  bottom: 0;
  text-align: center;
}

.chatHide:hover {
  text-decoration: underline;
}

.chat {
  background-color: grey;
  height: 310px;
  width: 250px;
  position: absolute;
  right: 50px;
  bottom: 0;
}

.displayChat {
  height: 260px;
  margin: 6px;
  background-color: white;
  overflow: auto;
}

.chatLine {
  line-height: .9;
  margin-left: 12px;

}

.chatLine h5 {
  margin-bottom: .1em;
}

.chatLine p {
  margin-top: .1em;
}

.chatInput {
  margin-left: 6px;
  margin-right: 8px;
  height: auto;
  width: 180px;
}

.commentsMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 500px;
}

.commentsMain .theList {
  list-style: none;
  padding-left: 0;
  width: 500px;
}
.commentsMain .theList li {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}
